/*
    Author: Vijay Thapa;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-80{
    width: 80%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #006ed9;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}
.btn-primary:hover{
    background-color: #52a6f7;
}

.btn-secondary{
    background-color: #05b528;
    border-radius: 8px;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
}
.btn-secondary:hover{
    background-color: #3ef062;
}

.btn-danger{
    background-color: #e00413;
    border-radius: 8px;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff6671;
}

.success{
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0.2%;
    border: #2ed573 solid 3px;
    background-color: #2ed573;
    border-radius: 6px;
}
.error{
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding: 0.2%;
    border: #ff4757 solid 3px;
    background-color: #ff4757;
    border-radius: 6px;
}


/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
    background-color: white;
    z-index: 1000;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #0381a1;
}
.menu ul li a:hover{
    color: #3abfe0;
}

body{
background-color: #e4e9eb;
}

/* CSS for main-content */
.main-content{
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* CSS for Footer */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0381a1;
    color: white;
    text-align: center;
}

.input-field{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
.input-field:focus  {
    border-color: blue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}
/* CSS for Login */
.login{
    width: 20%;
    margin: 10% auto;
    padding: 2%;
    border-radius: 8px;
    border: 3px solid #0381a1;
    background-color: white;
}
.card-wrapper{
    flex-direction: row;
    display: ruby;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
    padding: 20px;
    background-color: #edf5f7;
    position: relative;
}

.card-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-info {
    font-size: 16px;
    margin-bottom: 5px;
}
.check-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; /* Adjust the size of the icon */
    height: auto; /* Maintain aspect ratio */
}